<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Automatizációk használata</title>
	</head>

	<body>
		
		<h1>Menü</h1>
		
		<br>
		
		<h2> Riport lekérdezés</h2>
		
		<br>
		
		<h3>  Melyik évre szeretnéd lekérdezni a listát?</h3>
		
		<form th:action="@{/automationusage/createReport}" method="get">
			<p>év: <input type="text" th:name="year"/></p>
			<input type="submit" value="lekérdezés" class="btn btn-primary btn-med"/>
		</form>					
		
	</body>

</html>